<nav class="navbar navbar-expand-lg navbar-dark bg-dark stick-top">
  <a class="navbar-brand" routerLink='/home'>TPO-JEC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink='/aboutus' routerLinkActive='active'>About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/updates' routerLinkActive='active'>Updates</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/placements' routerLinkActive='active'>Placements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/studentlogin' routerLinkActive='active'>Student Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/contactus' routerLinkActive='active'>Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
